<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <% if !@username %>
      <a href='/login'>Log in</a><br/>
      <a href='/signup'>Sign up</a>
    <% else %>
      <p>Hello <%= "#{@username}" %></p>
      <a href='/logout'>Logout</a>
      <a href='/new_todo_list'>New todo list</a>
    <% end %>
  </body>
</html>