* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

body {
  background-color: #CCC;
  font-weight: 300;
}

ul {
  list-style: none;
}

.all_todo_lists {
  padding: 10px;
  width: 50%;
}

.single_todo_list {
  padding: 10px;
  border: 3px solid #66666666;
  border-radius: 5px;
}

#list_name {
  background: #FFFFFF55;
  text-shadow: 1px 1px #CCC;
  border: 3px solid #66666666;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 10px 5px;
  font-weight: 500;
  font-size: 18px;
}

.task, .subtask {
  margin: 10px;
  padding: 10px;
  border: 3px solid #66666666;
  background: #FFFFFF55;
  width: 90%;
  border-radius: 5px;
}

.subtask {
  margin-left: -30px;
  width: 100%;
}

#new_list, #new_task, #edit_task, #delete_task, #completed_task, #new_subtask, #edit_subtask, #delete_subtask, #completed_subtask {
  font-size: 12px;
  display: inline-block;
}

#edit_list, #delete_list {
  margin-left: 3px;
  float: right;
}

#edit_task, #delete_task, #completed_task, #edit_subtask, #delete_subtask, #completed_subtask {
  margin-left: 3px;
  float: right;
}

#task_list {
  padding: 0;
  margin: 0;
  width: 103%;
}

#subtask_list {
}

#new_subtask {
  position: relative;
  left: -30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#list_category {
  font-size: 12px;
}

input[type=text], input[type=submit] {
  background: #FFFFFF55;
  border: 3px solid #66666666;
}

input[type=checkbox] {
  border: 2px solid red;
}

a:link {
  text-decoration: none;
  font-weight: 500;
}

.input-sizer {
  display: inline-grid;
}

.input-sizer::after {
  content: attr(data-value) "  ";
  visibility: hidden;
}