<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
  </head>
  <body>
  
    <h1>Log in!</h1>
    <form id="login" action="/login" method="post">
      <input type="username" name="username" placeholder="Username" required><br/>
      <input type="password" name="password" placeholder="Password" required><br/>
      <input type="submit" value="Login" id="login_button"></button>
    </form>

  </body>
</html>