<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
  </head>
  <body>

    <h1>Sign up!</h1>
    <form id='signup' action='/signup' method='post'>
      <input type='text' name='username' placeholder='Username' required><br>
      <input type='email' name='email' placeholder='Email' required><br>
      <input type='password' name='password' placeholder='Password' required><br>
      <input type='submit' value='Sign up!' id='signup_button'></button>
    </form>

    </div>
  </body>
</html>