<!DOCTYPE html>
<html>
  <head>
    <title>New todo list</title>
  </head>
  <body>

    <h1>Create a new todo list</h1>
    <form id='new_list' action='/new_todo_list' method='post'>
      <input type='text' name='name' placeholder='List name' required><br>
      <input type='text' name='category' placeholder='Category'><br>
      <input type='submit' value='Create todo list' id='new_list_button'></button>
    </form>

    </div>
  </body>
</html>